body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:  linear-gradient(326deg, rgba(0,29,108,1) 20%, rgba(0,212,255,1) 76%);
    color: black;
  }

  #countdown {
    background: rgba(0, 4, 255, 0.274);
    padding: 40px 60px;
    border-radius: 75px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  #timer {
    font-size: 3rem;
    letter-spacing: 3px;
  }
  
  .timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: block;
  }

  @media (max-width: 600px) {
    #timer {
        font-size: 2rem;
    }
    .timer-unit {
        font-size: 1rem;
    }
  }